/* .card-animation 
{
     transform: translateX(1000%);
     animation: flyInFromRight 2s ease forwards;
} */

.demoImage
{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin: 25px;
}

/* @keyframes flyInFromRight 
{
    from{
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
} */



.content
{
    position: absolute;
    top:150px;
    left:125px;
    width: 250px;
    height: 203px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;
}

.redpillbluepill
{
    display: flex;
    justify-content: space-around;
    width: 250px;
}

.redpillbluepill button
{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.three-d-polygon
{
    box-shadow: 0 3px 10px rgba(15, 189, 24, 0.2);
}


