* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'bank gothic', sans-serif;
  color: white;
  font-size: 22px;
  scroll-behavior: smooth;
}

.intro {
  padding: 20px;
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meimg {
  width: 200px;
  height: 200px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.intro-heading {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.intro-heading h1 {
  color: black;
  margin-right: 15px;
}

.intro-description {
  color: black;
  padding: 15px;
  text-align: center;
  padding: 55px;
}


@media only screen and (max-width: 500px) {
  .intro-heading {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.certificate
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.certificate h1
{
  color: black;
}

.certificate img
{
  margin: 25px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.resources
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.resources p
{
  color: black;
}

.resource-items
{
  flex-direction: row;
}

@media only screen and (max-width: 500px)
{
  .resource-items
  {
    flex-direction: column;
    display: flex;
    text-align: center;
  }

  .resource-items a
  {
    margin: 15px;
  }
}

.backToTop
{
  position: fixed;
  bottom: 25px;
  right: 10px;
  z-index: 100;
}

.backToTop i
{
  color: black;
  font-size: 45px;
}